<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="com.automation.tests.CreateTutorialTest" />
            <class name="com.automation.tests.DeleteTutorialTest" />
            <class name="com.automation.tests.RetrieveTutorialTest" />
            <class name="com.automation.tests.UpdateTutorialTest" />
        </classes>
    </test>
</suite>
